# Required for all modes
SLACK_BOT_TOKEN="xoxb-"

# Required for socket mode
SLACK_APP_TOKEN="xapp-"
SLACK_SOCKET_MODE=true

# Required for HTTP mode
SLACK_SIGNING_SECRET="your-signing-secret"

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=gsc_slack_app
DB_SYNCHRONIZE=true